/* Bootstrap Base */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

/* Base */

html, body {
  overflow-x: hidden;
}

.Header, .Copy, .Footer {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Layout */

.Container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
}

.Row {
  padding: 36px 0;
}

.Grid {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0;
}

.Grid--padded {
  margin-right: -18px;
  margin-left: -18px;
}

.Grid--padded > .Grid-unit {
  padding-right: 18px;
  padding-left: 18px;
}

.Grid-unit {
  font-size: 16px;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

/* Header */

.Header {
  position: relative;
  padding-bottom: 45px;
}

.Header:before {
  content: "";
  background: #3D9970;
  box-shadow: 0 15px 0 #337F5D, 0 30px 0 #29664B, 0 45px 0 #1E4C38;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin-top: -170px;

  position: absolute;
  top: 0;
  right: -20%;
  left: -20%;
  bottom: 0;
}

.Logo {
  font-size: 20px;
  line-height: 1;
  height: 230px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 230px;
  background: #3D9970;
  color: #fff;
  border: 22px solid #fff;
  text-rendering: optimizeLegibility;
}

.Logo:before {
  content: "B";
  font-size: 130px;
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;
  line-height: 1;
  pointer-events: none;
}

/* Footer */

.Footer {
  background: #2b303b;
  color: #fff;
}

.Footer a {
  font-weight: 700;
  color: #51CC95;
}

.Footer a:hover,
.Footer a:focus {
  color: #fff;
}

.FooterLogo {
  display: block;
  margin: 16px 0;
}

.FooterLogo img {
  display: block;
  margin: 0 auto;
}

/* Components */

.Installer {
  display: inline-block;
  background: #2b303b;
  border: 1px solid #16191F;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  line-height: 1.2;
  margin: 90px auto 36px;
  padding: 16px 32px;
}

@media only screen and (min-width: 44em) {
  .Installer {
    padding: 24px 48px;
  }
}

/* Copy */

@media only screen and (min-width: 44em) {
  .Copy {
    font-size: 21px;
  }
}

.Copy .highlight {
  margin-left: -16px;
  margin-right: -16px;
}

.Copy .highlight pre {
  margin-bottom: 0;
}

.Copy .highlight pre {
  background: #2b303b;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 1.2;
  overflow: auto;
  padding: 16px;
}

@media only screen and (min-width: 44em) {
  .Copy .highlight {
    margin: 36px -24px;
  }

  .Copy .highlight pre {
    padding: 24px;
  }
}

.Copy ul {
  padding-left: 24px;
  list-style: none;
}

.Copy ul > li {
  position: relative;
}

.Copy ul > li + li {
  margin-top: 10px;
}

.Copy ul > li:before {
  content: "";
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  font-size: 8px;
  border-radius: 50%;
  border: 1px solid #B22D26;
  left: -24px;
  top: 11px;
}

.Copy li > ul {
  margin-top: 10px;
  margin-bottom: 0;
}

.Copy a {
  color: #3D9970;
  font-weight: 700;
}

.Copy a:hover,
.Copy a:focus {
  color: #2b303b;
}

.Copy code {
  font-family: "Source Code Pro", monospace;
  background: #eee;
  padding: 0 3px;
}

.CopySmall {
  font-size: 16px;
}

.highlight code {
  background: transparent;
  padding: 0;
}

#radium-example {
  background: #eee;
  padding: 24px;
  margin: 24px -24px 0;
  text-align: center;
}

/* Utilities */

.u-size1of2 {
  width: 50%;
}

.u-size1of3 {
  width: 33.3333%;
}

.u-size2of3 {
  width: 66.6666%;
}

.u-noMargin {
  margin-bottom: 0;
}

.u-textCenter {
  text-align: center;
}

.u-textLeft {
  text-align: left;
}

.u-marginModule > *:last-child {
  margin-bottom: 0;
}

.u-marginModule > *:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 44em) {
  .u-size1of2-l {
    width: 50%;
  }

  .u-size1of3-l {
    width: 33.3333%;
  }

  .u-size2of3-l {
    width: 66.6666%;
  }

  .u-margin-l {
    margin-bottom: 24px;
  }

  .u-noMargin-l {
    margin-bottom: 0;
  }
}

/* Syntax Highlighting */

/*

Name:       Base16 Ocean Dark
Author:     Chris Kempson (http://chriskempson.com)

Pygments template by Jan T. Sott (https://github.com/idleberg)
Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.highlight .hll { background-color: #4f5b66 }
.highlight  { background: #2b303b; color: #eff1f5 }
.highlight .c { color: #65737e } /* Comment */
.highlight .err { color: #bf616a } /* Error */
.highlight .k { color: #b48ead } /* Keyword */
.highlight .l { color: #d08770 } /* Literal */
.highlight .n { color: #eff1f5 } /* Name */
.highlight .o { color: #96b5b4 } /* Operator */
.highlight .p { color: #eff1f5 } /* Punctuation */
.highlight .cm { color: #65737e } /* Comment.Multiline */
.highlight .cp { color: #65737e } /* Comment.Preproc */
.highlight .c1 { color: #65737e } /* Comment.Single */
.highlight .cs { color: #65737e } /* Comment.Special */
.highlight .gd { color: #bf616a } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #eff1f5; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #a3be8c } /* Generic.Inserted */
.highlight .gp { color: #65737e; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #96b5b4; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #b48ead } /* Keyword.Constant */
.highlight .kd { color: #b48ead } /* Keyword.Declaration */
.highlight .kn { color: #96b5b4 } /* Keyword.Namespace */
.highlight .kp { color: #b48ead } /* Keyword.Pseudo */
.highlight .kr { color: #b48ead } /* Keyword.Reserved */
.highlight .kt { color: #ebcb8b } /* Keyword.Type */
.highlight .ld { color: #a3be8c } /* Literal.Date */
.highlight .m { color: #d08770 } /* Literal.Number */
.highlight .s { color: #a3be8c } /* Literal.String */
.highlight .na { color: #8fa1b3 } /* Name.Attribute */
.highlight .nb { color: #eff1f5 } /* Name.Builtin */
.highlight .nc { color: #ebcb8b } /* Name.Class */
.highlight .no { color: #bf616a } /* Name.Constant */
.highlight .nd { color: #96b5b4 } /* Name.Decorator */
.highlight .ni { color: #eff1f5 } /* Name.Entity */
.highlight .ne { color: #bf616a } /* Name.Exception */
.highlight .nf { color: #8fa1b3 } /* Name.Function */
.highlight .nl { color: #eff1f5 } /* Name.Label */
.highlight .nn { color: #ebcb8b } /* Name.Namespace */
.highlight .nx { color: #fff } /* Name.Other */
.highlight .py { color: #eff1f5 } /* Name.Property */
.highlight .nt { color: #96b5b4 } /* Name.Tag */
.highlight .nv { color: #bf616a } /* Name.Variable */
.highlight .ow { color: #96b5b4 } /* Operator.Word */
.highlight .w { color: #eff1f5 } /* Text.Whitespace */
.highlight .mf { color: #d08770 } /* Literal.Number.Float */
.highlight .mh { color: #d08770 } /* Literal.Number.Hex */
.highlight .mi { color: #d08770 } /* Literal.Number.Integer */
.highlight .mo { color: #d08770 } /* Literal.Number.Oct */
.highlight .sb { color: #a3be8c } /* Literal.String.Backtick */
.highlight .sc { color: #eff1f5 } /* Literal.String.Char */
.highlight .sd { color: #65737e } /* Literal.String.Doc */
.highlight .s2 { color: #a3be8c } /* Literal.String.Double */
.highlight .se { color: #d08770 } /* Literal.String.Escape */
.highlight .sh { color: #a3be8c } /* Literal.String.Heredoc */
.highlight .si { color: #d08770 } /* Literal.String.Interpol */
.highlight .sx { color: #a3be8c } /* Literal.String.Other */
.highlight .sr { color: #a3be8c } /* Literal.String.Regex */
.highlight .s1 { color: #a3be8c } /* Literal.String.Single */
.highlight .ss { color: #a3be8c } /* Literal.String.Symbol */
.highlight .bp { color: #eff1f5 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bf616a } /* Name.Variable.Class */
.highlight .vg { color: #bf616a } /* Name.Variable.Global */
.highlight .vi { color: #bf616a } /* Name.Variable.Instance */
.highlight .il { color: #d08770 } /* Literal.Number.Integer.Long */
